.example-card {
  margin-top: 5px;
  margin-bottom: 5px !important;
  cursor: pointer;
}
.profile {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.prof{
  text-align: center;
}
.prof hr{
  width: 25%;
  margin: 10px auto;
}
