<div *ngIf="loading; else elseArea">
    <mat-spinner class="mx-auto color" [strokeWidth]='5' [diameter]='30'>
    </mat-spinner>
</div>
<ng-template #elseArea>
    <div>

        <mat-card class="example-card" *ngFor="let worker of workerList">
            <div class="card-div " routerLink='../view/{{worker._id}}/active'>
                <mat-card-title-group>
                    <mat-card-title>{{worker.Name}}</mat-card-title>
                    <mat-card-subtitle>{{worker.Age}}</mat-card-subtitle>
                    <img mat-card-sm-image src={{worker.ProfileImg}}
                        onerror="this.onerror=null;this.src='assets/img/profile-worker.jpg';" class="profile">

                </mat-card-title-group>
                <mat-card-content>
                    <div>
                        <span *ngFor="let i of [1,2,3,4,5]">
                            <mat-icon *ngIf="i<worker.Rating">star</mat-icon>
                            <mat-icon *ngIf="i>=worker.Rating">star_border</mat-icon>
                        </span>
                    </div>
                </mat-card-content>
            </div>
            <div class="container p-0 m-0">
                <div class="row text-center p-0 m-0">
                    <div class="col-lg-6 p-0 m-0">
                        <!-- <button mat-stroked-button color="accent">Block Worker</button> -->
                    </div>
                    <div class="col-lg-6 p-0 m-0">
                        <button mat-stroked-button color="accent" (click)="unblockAworker(worker._id)">Unblock
                            Worker</button>
                    </div>
                </div>

            </div>
        </mat-card>
    </div>
</ng-template>