<div *ngIf="loading; else elseBlock">
    <mat-spinner class="mx-auto color" [strokeWidth]='5' [diameter]='30'>
    </mat-spinner>
</div>
{{workerDetail|json}}
<ng-template #elseBlock>
    <div class="prof fs-4">Worker's Profile <br>
        <hr class=""> 
    </div>

    <div>
        <div class="container">
            <mat-card class="row m-1">
                <div class=" p-1">
                    <mat-card-header class="p-2">
                        <div mat-card-avatar class="example-header-image"><mat-icon class="icon">person_pin</mat-icon></div>
                        <mat-card-title>{{workerDetail.Name}}</mat-card-title>
                        <mat-card-subtitle class="m-0">Age : {{workerDetail.Age}}</mat-card-subtitle>
                        <div class="nic">NIC No : {{workerDetail.NICNo}}</div>
                      </mat-card-header>
                      <div class="row job p-2 mt-2">
                        <div class="col-6 fs-6 justify-content-center ps-0">Job : {{workerDetail.Job}} </div>
                        <div class="col-6 ">
                            <span *ngFor="let i of [1,2,3,4,5]">
                                <mat-icon *ngIf="i<workerDetail.Rating">star</mat-icon>
                                <mat-icon *ngIf="i>=workerDetail.Rating">star_border</mat-icon>
                            </span>
                        </div>
                      </div>
                      <mat-card-content  class="p-2 mt-2">
                            <div class="pt-2 fs-6">Address : {{workerDetail.Address}}</div>
                              <div class="pt-3 fs-6">Working Area : {{workerDetail.WorkArea}} </div>
                          <div class="pt-3 fs-6">Contact No : {{workerDetail.ContactNo}}</div>
                      </mat-card-content>
                      
             </div>
             <hr>
             <div class="text-center">
                <button mat-button (click)="addReveiw()">Write a Reveiw <mat-icon class="rev-icon">reviews</mat-icon> </button>
             </div>
                <div  class="p-1">
                    <div *ngIf='reviewsOfTheWorker.length>0' s>
                        <div *ngFor="let review of reviewsOfTheWorker">
                            <hr class="mx-auto">
                            <p class="fs-5">
                                {{review.Name}}
                            </p>
                            <p class="fs-7">
                                {{review.Review}}
                            </p>
                        </div>
                    </div>
                </div>
            </mat-card>
            <mat-card *ngIf="isAddReveiw" [formGroup]="Reveiws" class="m-1">
                <div class="row">
                    <div class="col-6">
                        <div class="form-section">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" formControlName="Name">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="ps-3">Rating</div>
                        <div class="rating">
                            <button mat-icon-button *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i"
                                (click)="onClick(i+1)" matTooltip={{ratingId}} matTooltipPosition="above" class="star">
                                <mat-icon>
                                    {{showIcon(i)}}
                                </mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="form-section" class="col-12 pt-3">
                        <label for="name">Review</label>
                        <textarea class="form-control" formControlName="Review"></textarea>
                    </div>
                    <div class="form-section" class="col-12 pt-3">
                        <button w-100 mat-button (click)="submitReview()">Submit</button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</ng-template>