.color {
  color: white;
}
button{
  border: 1px solid white;
}
.rating{
  align-items: center;
  text-align: center;
  margin: auto;
}
.form-control {
  background-color: rgb(29, 29, 29);
  /* color: rgb(233, 230, 230); */
}
.star {
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 0;
}
.rating button{
  border: none;
}
