<div>
    <form class="full-form bg-dark" [formGroup]="Jobs">
        <div class="text-center">
            <h2>Register A new Job</h2>

        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-section">
                    <label for="name">Job's Name</label>
                    <input type="text" class="form-control" formControlName="Job">
                    <!-- (blur)="checkUserName()"  -->
                </div>
                <div class="form-section">
                    <label for="name">Description</label>
                    <textarea class="form-control" formControlName="Description"></textarea>
                </div>
            </div>
            <div class="col-6 upload">
                <div class="form-section">
                    <label for="">Job Image </label><br>
                    <input formControlName="Image" type="file" class="form-control upload"
                        (change)="onFileChange($event)" accept=".jpg, .png, .jpeg">
                    <img [src]="imgSrc" class="profile"
                        onerror="this.onerror=null;this.src='assets/img/profile-worker.jpg';">
                </div>
            </div>
        </div>

        <div class="form-section">
            <button mat-flat-button class="button" (click)="submit()" [disabled]="!Jobs.valid">
                Submit
            </button>
        </div>
    </form>
</div>