.form-input-text {
  border: rgb(255, 255, 255);
  background-color: #1f1e1e;
  /* color: rgba(255, 255, 255, 0.658); */
  padding: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 #252525;
}
.form-control {
  background-color: rgb(29, 29, 29);
}
.full-form {
  background-color: rgb(31, 31, 31);
  padding: 30px;
  border-radius: 5px;
}
.form-section {
  padding-top: 9px !important;
}

.upload {
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.star {
  background-color: rgba(0, 0, 0, 0.158);
  border-radius: 0;
}
.form-control .button {
  color: rgb(66, 0, 0);
}
.changeImg {
  border-radius: 4px;
  position: relative;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: auto;
}
.change-img-btn {
  position: absolute;
  /* object-fit: cover; */
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 0;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding-top: 50px;
}
.change-img-btn:hover {
  opacity: 0.6;
  background-color: grey;
}
.changeImg img {
  width: 200px;
  height: 200px;
}

.profile {
  width: 350px;
  height: 350px;
}
